.main{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
}

.services{
    display: flex;
    justify-content: space-evenly;
}

.totalSize>h5{
    display: flex;
    margin-left: 10px;
}

/* #lambdaCallsS3, #avgTimeS3, #computeChargeS3, #requestChargeS3, #totalChargeS3{
    display: none;
}

#lambdaCallsRDS, #avgTimeRDS, #compChargeRDS, #reqChargeRDS, #totalChargeRDS{
    display: none;
}

#lambdaCallsSelf, #avgTimeSelf, #compAndReqChargeSelf{
    display: none;
} */

